button {
  background-color: blue;
  color: white;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.main {
  text-align: center;
  margin-top: 40px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;

  display: flex;
  justify-content: center;
  align-items: center;
}


.no-click {
  pointer-events: none;
}


.modal-content {
  background: white;
  padding: 30px 25px;
  border-radius: 10px;
  width: 40vw;
  max-width: 450px;
  min-width: 300px;
  animation: pop 0.25s ease-out;
  z-index: 999;
  text-align: center;
}

.modal-content form {
  text-align: center;
  padding-top: 10px;
}

.modal-content label {
  font-weight: 600;
}

.modal-content input {
  width: 100%;
  padding: 8px 8px;
  margin: 6px 0 12px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}




